.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
vendor/*

# Ensure the autoload is not ignored.
!vendor/composer
!vendor/autoload.php

*.sql
*.tar.gz
*.zip
.wp_container_volume
.db_container_volume